@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/z-index.css";

.downloadButton {
    z-index: $z-index-add-button;
    width: 2.75rem;
    height: 2.75rem;
    border: none;
    border-radius: 100%;
    background-color: $looks-secondary;
    box-shadow: 0 0 0 4px $looks-transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.downloadIcon {
    width: 28px;
    height: 28px;
}
.wrapper {
  position: absolute;
  width: 2.75rem; /* 44px */
  height: auto;
  bottom: 12px;
  right: 27px; /* 12px (MARGIN_SIDE) + 15px (scrollbar thickness) */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zoomWrapper {
    margin-bottom: 8px; /* MARGIN_BETWEEN */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zoomButton {
    z-index: $z-index-add-button;
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;
    margin-bottom: 8px; /* MARGIN_BETWEEN */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.zoomButton:last-child {
    margin-bottom: 0;
}

.zoomIcon {
    width: 36px;
    height: 36px;
}

.tooltip {
  background-color: $extensions-primary !important;
  opacity: 1 !important;
  border: 1px solid hsla(0, 0%, 0%, .1) !important;
  border-radius: $form-radius !important;
  box-shadow: 0 0 .5rem hsla(0, 0%, 0%, .25) !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  z-index: $z-index-tooltip !important;
}

.tooltip:after {
  background-color: $extensions-primary;
}

$arrow-size: 0.5rem;
$arrow-inset: -0.25rem;
$arrow-rounding: 0.125rem;

.tooltip:after {
    content: "";
    border-top: 1px solid hsla(0, 0%, 0%, .1) !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-right: 1px solid hsla(0, 0%, 0%, .1) !important;
    border-radius: $arrow-rounding;
    height: $arrow-size !important;
    width: $arrow-size !important;
}

.tooltip:global(.place-left):after {
    margin-top: $arrow-inset !important;
    right: $arrow-inset !important;
    transform: rotate(45deg) !important;
}
