@import "../../css/colors.css";
@import "../../css/units.css";
@import "../../css/z-index.css";

.downloadButton {
    z-index: $z-index-add-button;
    width: 2.75rem;
    height: 2.75rem;
    border: none;
    border-radius: 100%;
    background-color: $looks-secondary;
    box-shadow: 0 0 0 4px $looks-transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.downloadIcon {
    width: 28px;
    height: 28px;
}

.downloadWrapper {
    position: absolute;
    bottom: 22px;
    right: 70px; /* 22px (zoom margin) + 36px (zoom width) + 12px (gap) */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zoomControlsWrapper {
    position: absolute;
    bottom: 22px;
    right: 22px; /* 12px (MARGIN_SIDE) + 10px (scrollbar thickness) */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zoomButton {
    z-index: $z-index-add-button;
    width: 36px;
    height: 36px;
    border: none;
    background-color: transparent;
    margin-bottom: 8px; /* MARGIN_BETWEEN */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.zoomButton:last-child {
    margin-bottom: 0;
}

.zoomIcon {
    width: 36px;
    height: 36px;
}

.tooltip {
  background-color: $extensions-primary !important;
  opacity: 1 !important;
  border: 1px solid hsla(0, 0%, 0%, .1) !important;
  border-radius: $form-radius !important;
  box-shadow: 0 0 .5rem hsla(0, 0%, 0%, .25) !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  z-index: $z-index-tooltip !important;
}

.tooltip:after {
  background-color: $extensions-primary;
}

$arrow-size: 0.5rem;
$arrow-inset: -0.25rem;
$arrow-rounding: 0.125rem;

.tooltip:after {
    content: "";
    border-top: 1px solid hsla(0, 0%, 0%, .1) !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
    border-right: 1px solid hsla(0, 0%, 0%, .1) !important;
    border-radius: $arrow-rounding;
    height: $arrow-size !important;
    width: $arrow-size !important;
}

.tooltip:global(.place-top):after {
    margin-left: $arrow-inset !important;
    bottom: $arrow-inset !important;
    transform: rotate(135deg) !important;
}

.editorContainer {
    border: 1px solid hsla(0, 0%, 0%, 0.15);
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    height: 100%;
    width: 100%;
    min-width: 0;
    overflow: hidden;
    position: relative;
}

.editorWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
