@import "../../css/colors.css";
@import "../../css/units.css";

.modal-content {
    width: 90vw;
    height: 90vh;
    max-width: 1200px;
    max-height: 800px;
}

.header {
    background-color: $looks-secondary;
}

.body {
    background: $ui-white;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
    flex: 1;
}
