@import "../../css/colors.css";
@import "../../css/units.css";

.header {
    background-color: $looks-secondary;
}

.body {
    background: $ui-white;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    height: calc(100% - 3.125rem);
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
    flex: 1;
    min-height: 0;
}

.reload-button {
    font-weight: normal;
    font-size: 0.75rem;
}

.stop-icon {
    position: relative;
    margin: 0.25rem;
    user-select: none;
    transform-origin: 50%;
    transform: rotate(45deg);
}
